CV/
tmp/
EnglishBook/
EnglishReadingStack/
*.dvi
*.backup
.pygstyle
.pygtex
MathNote/*.gz
MathNote/*.aux
MathNote/*.idx
MathNote/*.synctex
MathNote/*.toc
MathNote/*.log
MathNote/*.out
*.mintedcmd
_minted-MathNote
